<div class="each__chat">
  <div class="chat__top">
    <p class="chat__text"><%= chat.text %></p>
  </div>
  <div class="chat__bottom">
    <p class="chat__information"><%= chat.created_at.strftime("%Y-%m-%-d %-H:%-M") %></p>
    <p class="chat__information"><%= link_to chat.user.name, user_path(chat.user.id) %></p>
  </div>
</div>