<footer class="top-page-footer">
  <div class="creator">created by yamaday0u</div>
  <ul class="creator-accounts">
    <li>
      <%= link_to "/", class: "account-link" do %>
        <i class="fab fa-github icon"></i>GitHub
      <% end %>
    </li>
    <li>
      <%= link_to "/", class: "account-link" do %>
        <i class="fab fa-quora icon"></i>Qiita
      <% end %>
    </li>
    <li>
      <%= link_to "/", class: "account-link" do %>
        <i class="fab fa-twitter icon"></i>Twitter
      <% end %>
    </li>
    <li>
      <%= link_to "/", class: "account-link" do %>
        <i class="fas fa-blog icon"></i>Blog
      <% end %>
    </li>
  </ul>
</footer>