<footer class="top-page-footer">
  <div class="creator">created by yamaday0u</div>
  <ul class="creator-accounts">
    <li>
      <%= link_to calendars_path, class: "account-link" do %>
        <i class="fab fa-github icon"></i>GitHub
      <% end %>
    </li>
    <li>
      <%= link_to "https://qiita.com/yamaday0u", class: "account-link" do %>
        <i class="fab fa-quora icon"></i>Qiita
      <% end %>
    </li>
    <li>
      <%= link_to "https://twitter.com/yamaday0u", class: "account-link" do %>
        <i class="fab fa-twitter icon"></i>Twitter
      <% end %>
    </li>
    <li>
      <%= link_to "https://t.co/2hjhSR1S4y?amp=1", class: "account-link" do %>
        <i class="fas fa-blog icon"></i>Blog
      <% end %>
    </li>
  </ul>
</footer>