<header class="top-page-header">
  <div class="nav">
    <ul class="user-options">
      <li><%= link_to 'ユーザー名', "/", class:"" %></li>
      <li><%= link_to 'ログアウト', "/", class:"" %></li>
      <li><%= link_to 'ログイン', "/", class:"" %></li>
      <li><%= link_to '新規登録', "/", class:"" %></li>
    </ul>
  </div>
</header>