<header class="top-page-header">
  <div class="nav">
    <ul class="user-options">
    <% if user_signed_in? %>
      <li><%= link_to 'ユーザー名', "/", class:"user-option" %></li>
      <li><%= link_to 'Sign Out', "/", class:"user-option" %></li>
    <% else %>
      <li><%= link_to 'Sign in', "/", class:"user-option" %></li>
      <li><%= link_to 'Sign up', "/", class:"user-option" %></li>
    <% end %>
    </ul>
  </div>
</header>