<nav class="nav-bar-tab">
  
  <ul class="creator-accounts">
    <li>
      <%= link_to "Notification", "/", class: "account-link" %>
    </li>
    <li>
      <%= link_to "Chats", "/", class: "account-link" %>
    </li>
    <li>
      <%= link_to "Groups","/", class: "account-link" %>
    </li>
    <li>
      <%= link_to "Mates", "/", class: "account-link" %>
    </li>
  </ul>
</nav>