<nav class="nav__bar__tab" id="overflow">
  
  <div class="news_wrapper">
    <ul class="news_list">
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      <li class="each_news_list">あいうえお</li>
      
    </ul>
  </div>
  
</nav>