<% calendars.each do |calendar| %>
  <div class="schedule">
    <% if calendar.respond_to?(:group_id) %>
      <%= link_to "#{calendar.title}[#{calendar.start_time.strftime('%H:%M')}-#{calendar.end_time.strftime('%H:%M')}]", group_calendar_for_group_path(id: calendar.id, group_id: calendar.group_id) %>
      <%= link_to "by #{calendar.group.name}", group_calendar_for_group_path(group_id: calendar.group_id, id: calendar.id) %>
    <% else %>
      <%= link_to "#{calendar.title}[#{calendar.start_time.strftime('%H:%M')}-#{calendar.end_time.strftime('%H:%M')}]", calendar_path(calendar.id) %>
    <% end %>
  </div>
<% end %>