// Responsive
$responsive-tab: 767px;
$responsive-pc: 1000px;

@mixin tab {
  @media (min-width: ($responsive-tab)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($responsive-pc)) {
    @content;
  }
}

// Theme Colors
$theme-color: #228b22;
$footer-color: #000;
$nav-bar-color: #696969;

// Header
$header-height: 3em;

// Footer
$footer-height: 3em;

// Navigation
$nav-bar-height: 5em;

// Calendar
$calendar-width: 90%;

// Link button
@mixin link {
  display: inline-block;
  padding: 0 5px;
  border-radius: 3px;
  margin-top: 1.2em;
  text-decoration: none;/* Delete under line */
  color:#fff;
}

@mixin hover-green-btn-lighten {
  &:hover {
    background-color: lighten($theme-color, 10%);
  }
}