@import "variables";

.calendar-heading {
  margin: 2em 0 1.5em 0;
  text-align: center;
}

// index.html.erb -----------------------------------------


.schedule {
  a {
    text-decoration: none;
  }
}

#week_calendar {
  display: none;
}

#custom_calendar {
  display: none;
}

// show.html.erb -----------------------------------------

.schedule-item {
  display: inline-block;
  width: 300px;
  
  @include tab {
    width: 400px;
  }
}

.schedule-item-header {
  border-bottom: 1px solid $nav-bar-color;
}
.show-schedule {
  display: inline-block;
  
  
}



// _month_calendar.html/.erb -----------------------------------------
.simple-calendar {
  // 
}