@import "variables";

.calendar-heading {
  margin: 2em 0 1.5em 0;
  text-align: center;
}

// index.html.erb -----------------------------------------


.schedule {
  a {
    text-decoration: none;
  }
}

#week_calendar {
  display: none;
}

#custom_calendar {
  display: none;
}

// _month_calendar.html/.erb -----------------------------------------
.simple-calendar {
  // 
}