@import "variables";

.calendar-heading {
  margin: 2em 0 1.5em 0;
  text-align: center;
}

// index.html.erb -----------------------------------------
.my-page {
  // display: block When the size with smaller than the smartphone screen
  // display: flex When the size with larger than the tablet screen
  @include tab {
    display: flex;
    height: 100%;
  }
}

.calendar {
  @include tab {
    width: $calendar-width;
  }
}

.schedule {
  a {
    text-decoration: none;
  }
}

#week_calendar {
  display: none;
}

#custom_calendar {
  display: none;
}

// _month_calendar.html/.erb -----------------------------------------
.simple-calendar {

  .actions {
    display: none;

    @include tab {
      display: block;
      text-align: center;
    }
  }
}