@import "variables";

#chats {
  width: 300px;
  margin: 0 auto;
}

.each-chat {
  margin-top: 0.6em;
}

.chat-time {
  font-size: 14px;
}

.chat-text {
  // background-color: green;
  min-height: 100px;
  border: 1px solid $nav-bar-color;
  border-radius: 6px;
}
.chat-user {
  text-align: right;
  font-size: 14px;
}