@import "variables";

#chats {
  width: 300px;
  margin: 0 auto;
}

.each__chat {
  margin-top: 1em;
}

.chat__information {
  font-size: 14px;
}

.chat__bottom {
  display: flex;
  justify-content: space-between;
}
.chat__text {
  border-bottom: 1px solid $nav-bar-color;
}