@import "variables";

.notice-wrap {
  text-align: center;

  @include tab {
    text-align: left;
  }
  
  .notice {
    display: inline-block;
    padding: 0.5em;
    border-left: 6px solid $theme-color;
    border-bottom: 2px solid #dadada;
    margin: 1em auto 1em;
    background-color: whitesmoke;
    line-height: 1.5;
    color: #404040;
    font-weight: bold;

    @include tab {
      margin: 1em 0 1em 1em;
    }
  }
}

