@import "variables";

.form__wrap {
  text-align: center;

  .form__group {
    margin-top: 1.5em;
  }

  .required {
    font-size: 14px;
    color: red;
  }
}

.actions {
  text-align: center;
}

.sign-up-btn {
  @include link;
  border: 1px solid black;
  background-color: $theme-color;
  color: white;
  @include hover-green-btn-lighten;
  
  @include tab {
    font-size: 20px;
  }
}

.caution {
  background-color: $caution-color;
  color: #000;
  @include hover-caution-btn-lighten;
}

.back-btn-wrap {
  text-align: center;

  .back-btn {
    @include link;
    border: 1px solid black;
    margin-bottom: 1.2em;
    background-color: whitesmoke;
    color: black;
    &:hover {
      background-color: darken(whitesmoke, 20%);
    }
  }
}