@import "variables";

// index.html.erb -----------------------------------------
.item-list {
  border-top: 1px solid #ddd;
}

.item-list-header {
  margin-top: 1em;
  text-align: center;
}

.item-list-content {
  // 
}

.each-item {
  // 
}

.each-item-content {
  height: 100px;
  width: 350px;
  display: flex;
  margin: 1em auto;
  border: 1px solid $separator-color;
  position: relative;

  @include tab {

  }
}

.item-content-left {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $separator-color;
  margin: auto 3px;
}

.item-content-right {
  height: 80px;
  display: flex;
  justify-content: center;
  margin: auto 3px;
  position: absolute;
  top: 50%;
  left: 83px;
  transform: translateY(-15%);
}