// --- Index ---
//  1.Common style sheet
//  2.Header style sheet
//  3.Footer style sheet
//  4.Nav-bar style sheet
//  5.Nav-bar-tab style sheet
//  6.home#index style sheet

@import "variables";

// Common style sheet -----------------------------------------
* {
  font-family: "MS Pゴシック", "YuGothic", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.subtitle {
  padding-top: 1.5em;
  text-align: center;
  font-size: 20px;
  font-weight: bold;

  @include tab {
    font-size: 22px;
  }

  @include pc {
    font-size: 24px;
  }
}

.br-sp {
  @include tab {
    display: none;
  }
}

.br-tab {
  @include pc {
    display: none;
  }
}

.content {
  margin: 0 1vw;
  min-height: calc(100vh - (6em));
}

.flex-parent-wrap {
  @include tab {
    display: flex;
    height: 100%;
  }
}

.main {
  @include tab {
    width: $main-width;
  }

  .actions-tab {
    display: none;

    @include tab {
      display: block;
      text-align: center;
    }
  }
}

.text-left {
  text-align: start;
}

.bold {
  font-weight: bold;
}


// Header style sheet -----------------------------------------
.top-page-header {
  background-color: $theme-color;
  height: $header-height;
}

.header-band {
  // background-color: yellow;
}

.user-options {
  display: flex;
  justify-content: flex-end;
}

.user-option {
  display: block;
  border: 1px solid white;
  margin-right: 1em;
  @include link;
  @include hover-green-btn-lighten;
}

.logged-in-user {
  margin-right: auto;
  @include link;
  @include hover-green-btn-lighten;
}

// Footer style sheet -----------------------------------------
.top-page-footer {
  padding-bottom: 5.5em;
  height: $footer-height;
  background-color: $footer-color;
  text-align: center;

  @include tab {
    padding-bottom: 0.2em;
  }

  .creator {
    color: white;
  }
}

.creator-accounts {
  display: flex;
  justify-content: center;
  li {
    margin: 0 20px;;
  }
}

.account-link {
  text-decoration: none;
  color: white;
}

.icon {
  // 
}

.fa-github {
  border: 1px solid #fff;
  background-color: #171515;
  color: #fff;
}

.fa-quora {
  color: #59bb0c;
}

.fa-twitter {
  color: #00acee;
}

.fa-blog {
  color: pink;
}

// Nav-bar style sheet -----------------------------------------
.nav-bar {
  height: $nav-bar-height;
  width: 100%;
  background-color: $nav-bar-color;
  position: fixed;
  bottom: 0;
  z-index: 10;

  @include tab {
    display: none;
  }

  .creator-accounts {
    margin-top: 1em;
    justify-content: space-around;

    .nav-bar-list {
      text-align: center;
      
      .icon-center {
        color: #fff;
        font-size: 2.5em;
      }
  
      .icon {
        color: #fff;
        font-size: 2em;
        text-align: center;
      }
  
      .icon-text {
        text-align: center;
        font-size: 8px;
        text-decoration: none;
      }
    }
  }
}

// Nav-bar-tab style sheet -----------------------------------------
.nav-bar-tab {
  display: none;

  @include tab {
    display: block;
    min-height: calc(100vh - (6em));
    width: calc(100% - $main-width);
    border-left: 1px solid #ddd;
    margin-left: 1em;

  }
  .creator-accounts {
    display: flex;
    flex-direction: column;

    li {
      margin-top: 1.5em;

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

// home#index style sheet -----------------------------------------
.top-page-logo {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 2rem;

  @include tab {
    font-size: 4.5rem;
  }

  @include pc {
    font-size: 6.5rem;
  }
}

.top-page-explanation {
  margin-bottom: 1em;
}

.examples {
  li {
    width: 10em;
    background-color: whitesmoke;
    padding: 0.5em;
    border-left: 6px solid $theme-color;
    border-bottom: 2px solid #dadada;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
  }
}

.lead-to-sign-up {
  text-align: center;
}