@import "variables";

// Common style sheet -----------------------------------------
* {
  font-family: "MS Pゴシック", "YuGothic", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.subtitle {
  padding-top: 1.5em;
  text-align: center;
  font-size: 20px;
  font-weight: bold;

  @include tab {
    font-size: 22px;
  }

  @include pc {
    font-size: 24px;
  }
}

.br-sp {
  @include tab {
    display: none;
  }
}

.br-tab {
  @include pc {
    display: none;
  }
}

// Header style sheet -----------------------------------------
.top-page-header {
  background-color: $theme-color;
  height: $header-height;
}

.nav {
  //
}

.user-options {
  display: flex;
  justify-content: flex-end;
}

.user-option {
  display: block;
  border: 1px solid white;
  margin-right: 1rem;
  @include link;
  @include hover-green-btn-lighten;
}

// footer style sheet -----------------------------------------
.top-page-footer {
  padding-bottom: 6em;
  height: $footer-height;
  background-color: $footer-color;
  text-align: center;

  .creator {
    color: white;
  }
}

.creator-accounts {
  display: flex;
  justify-content: center;
  li {
    margin: 0 20px;;
  }
}

.account-link {
  color: white;
}

.icon {
  // 
}

.fa-github {
  border-radius: 100%;
  background-color: white;
  color: #171515;
}

.fa-quora {
  color: #59bb0c;
}

.fa-twitter {
  color: #00acee;
}

.fa-blog {
  color: pink;
}

// Nav-bar style sheet -----------------------------------------
.nav-bar {
  height: $nav-bar-height;
  width: 100%;
  background-color: $nav-bar-color;
  // border-top: 1px solid #000;
  position: fixed;
  bottom: 0;
  z-index: 10;

  .creator-accounts {
    margin-top: 1.5em;
    justify-content: space-around;

    .icon {
      color: white;
      font-size: 2em;
    }
  }
}

// home#index style sheet -----------------------------------------
.content {
  margin: 0 1vw;
  height: calc(100vh - (6em));
}

.top-page-logo {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 2rem;

  @include tab {
    font-size: 4.5rem;
  }

  @include pc {
    font-size: 6.5rem;
  }
}

.top-page-explanation {
  margin-bottom: 1em;
}

.examples {
  li {
    color: #404040;
    border-left: 6px solid $theme-color;
    border-bottom: 2px solid #dadada;
    background-color: whitesmoke;
    margin-bottom: 10px;
    line-height: 1.5;
    padding: 0.5em;
    width: 10rem;
    font-weight: bold;
  }
}

.lead-to-sign-up {
  text-align: center;
}